<!DOCTYPE html>
<html lang="en" class="overscroll-none">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" rel="stylesheet">
    <title>Jackson Majewski</title>
</head>

<body class="text-slate-200 font-sans bg-gradient-to-br from-violet-500 to-indigo-800">
    <h1 class="justify-cente text-5xl my-2 font-bold font-sans text-center">Jackson Majewski</h1>
    <h2 class="justify-center mb-10 text-center text-xl font-semibold">Game Developer - Software Developer</h2>

    <section id="app">

    </section>

    <p class="text-center mt-2">&copy2024 Jackson Majewski</p>
    <script src="/assets/appBundle.js"></script>
</body>

</html>