<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" rel="stylesheet">
    <title>Jackson Majewski</title>
</head>

<body class="font-sans">
    <h1 class="justify-center text-5xl font-bold font-sans text-center">Jackson Majewski</h1>
    <h2 class="justify-center text-center">Game Developer - Software Developer</h2>

    <section id="app">

    </section>

    <p>&copy2024 Jackson Majewski</p>
    <script src="/assets/appBundle.js"></script>
</body>

</html>